# Grants desktop users access to Vial keyboards (serial contains the Vial magic).
# Install: sudo cp linux/udev/99-vial.rules /etc/udev/rules.d/ && sudo udevadm control --reload && sudo udevadm trigger
KERNEL=="hidraw*", SUBSYSTEM=="hidraw", ATTRS{serial}=="*vial:f64c2b3c*", MODE="0660", GROUP="users", TAG+="uaccess", TAG+="udev-acl"
